<div class="list-offer">
    <div class="list-offer-time">
        09:31
    </div>
    <div class="type-offer-image">
        <img src="images/<%= typeOffer.image %>" />
    </div>
    <div class="type-offer-name">
        <%= typeOffer.name %>
    </div>
    <div class="list-offer-users"></div>
    <div class="list-offer-buttons">
        <span class="list-offer-button-yes">Пойду</span>
        <span class="list-offer-button-no">Не пойду</span>
    </div>
    <div class="list-offer-buttons">
        <span class="list-offer-button-cancel">Отменить</span>
    </div>
</div>