<% layout('layouts/index') -%>
<% block('metaTitle', metaTitle) -%>
<div id="container">
    <h1>
        Ошибка
    </h1>
    <div class="container-row">
        <%= error.message %>
    </div>
</div>